In [ ]:
#task-1
class BankAccount():
  def __init__(self,n,ty,b=1.0):
    self.user_name=n
    self.balance=b
    self.account_type=ty

account1 = BankAccount("Bilbo", "Savings")
print("=====================================")
print(f"User Name: {account1.user_name}")
print(f"Balance: {account1.balance}")
print(f"Account Type:", account1.account_type)
print("=====================================")
account2 = BankAccount("Frodo", "Business")
print(f"User Name: {account2.user_name}")
print(f"Balance: {account2.balance}")
print(f"Account Type: {account2.account_type}")
print("=====================================")
account1.balance=15.75
account2.balance=700.50
print(f'New account balance of Bilbo is {account1.balance}')
print(f'New account balance of Frodo is {account2.balance}')

=====================================
User Name: Bilbo
Balance: 1.0
Account Type: Savings
=====================================
User Name: Frodo
Balance: 1.0
Account Type: Business
=====================================
New account balance of Bilbo is 15.75
New account balance of Frodo is 700.5

In [ ]:
#task-2
class MangoTree():
  def __init__(self,v,):
    self.variety=v
    self.height=1
    self.number_of_mangoes=0
  def updateOutput(self,y):
    self.height=y*3
    if self.variety=='Amrapali':
      self.number_of_mangoes=self.height*15
    else :
      self.number_of_mangoes=self.height*10
# Driver code
mangoTree1= MangoTree("Gopalbhog")
# Display the details of the mango tree
print("=====================================")
print("Mango Tree Details:")
print(f"Variety: {mangoTree1.variety}")
print(f"Height: {mangoTree1.height} meter(s)")
print(f"Number of mangoes on the tree: {mangoTree1.number_of_mangoes}")
print("=====================================")
mangoTree2= MangoTree("Amrapali")
# Display the details of the mango tree
print("Mango Tree Details:")
print(f"Variety: {mangoTree2.variety}")
print(f"Height: {mangoTree2.height} meter(s)")
print(f"Number of mangoes on the tree: {mangoTree2.number_of_mangoes}")
print("=====================================")

=====================================
Mango Tree Details:
Variety: Gopalbhog
Height: 1 meter(s)
Number of mangoes on the tree: 0
=====================================
Mango Tree Details:
Variety: Amrapali
Height: 1 meter(s)
Number of mangoes on the tree: 0
=====================================

In [ ]:
#task-3
class Contacts():
  def __init__(self,na,num):
    d={}
    if len(na)!=len(num):
      print('Contacts cannot be saved. Length Mismatch!')
    else:
      print('Contacts saved successfully.')
      for i in range(len(na)):
        d[na[i]]=num[i]
    self.contactDict=d
# Driver code
names = ["Emergency", "Father", "Bestie"]
numbers = ["999", "01xx23", "01xx87", "01xx65", "01xx43"]

m1 = Contacts(names, numbers)
print("Saved Contacts:", m1.contactDict)
print("---------------------------------------------")

names.append("Mother")
numbers.pop()

m2 = Contacts(names, numbers)
print("Saved Contacts:", m2.contactDict)

Contacts cannot be saved. Length Mismatch!
Saved Contacts: {}
---------------------------------------------
Contacts saved successfully.
Saved Contacts: {'Emergency': '999', 'Father': '01xx23', 'Bestie': '01xx87', 'Mother': '01xx65'}

In [ ]:
#task-4
class Student():
  def __init__(self,n,cg,co):
    self.name=n
    self.cgpa=cg
    self.courses_taken=co
    if (self.cgpa<2.00) and not(1<=self.courses_taken<=2):
      self.student_status='Probation'
      self.advising_status='Denied'
      self.courses_taken=0
      print(f'Sorry, {n}, you are on probation and cannot take more than 2 courses.')
    if (self.cgpa<2.00) and (1<=self.courses_taken<=2):
      self.student_status='Probation'
      self.advising_status='Denied'
      self.courses_taken=0
      print(f'Study hard this time, {n}.')
    elif (self.cgpa>=2.00) and not(3<=self.courses_taken<=5):
      self.student_status='Regular'
      self.advising_status='Denied'
      self.courses_taken=0
      print(f'Hello {n}, You are a regular student and have to take between 3 to 5 courses.')
    else:
      self.student_status='Regular'
      self.advising_status='Approved'
      print(f'All the best, {n}, for the upcoming semester.')



# Driver code
s1 = Student("Clark", 3.45, 4)
print(f"Name: {s1.name}\nCGPA: {s1.cgpa}\nCourses Taken: {s1.courses_taken}")
print(f"Student Status: {s1.student_status}\nAdvising Status: {s1.advising_status}")
print("--------------------------------------------------------------------------------")
s2 = Student("Barry", 1.93, 2)
print(f"Name: {s2.name}")
print(f"Student Status: {s2.student_status}\nAdvising Status: {s2.advising_status}")
print("--------------------------------------------------------------------------------")
s3 = Student("Diana", 2.91, 2)
print(f"Advising Status: {s3.advising_status}\nCourses Taken: {s3.courses_taken}")
print("--------------------------------------------------------------------------------")
s4 = Student("Bruce", 1.52, 5)
print(f"Advising Status: {s4.advising_status}\nCourses Taken: {s4.courses_taken}")

All the best, Clark, for the upcoming semester.
Name: Clark
CGPA: 3.45
Courses Taken: 4
Student Status: Regular
Advising Status: Approved
--------------------------------------------------------------------------------
Study hard this time, Barry.
Name: Barry
Student Status: Probation
Advising Status: Denied
--------------------------------------------------------------------------------
Hello Diana, You are a regular student and have to take between 3 to 5 courses.
Advising Status: Denied
Courses Taken: 0
--------------------------------------------------------------------------------
Sorry, Bruce, you are on probation and cannot take more than 2 courses.
All the best, Bruce, for the upcoming semester.
Advising Status: Approved
Courses Taken: 0

In [ ]:
#task-5
class CellPackage():
  def __init__(self,p, d, t, m, c, v,):
    print(f'Data = {d[0:len(d)-2]} MB')
    print(f'Talktime = {t} Minutes')
    print(f'SMS/MMS = {m}')
    print(f'Validity = {v} Days')
    print(f'--> Price = {p} tk')
    if int((float(c[0:len(c)-1])/100)*p)!=0:
      print(f'Buy now to get {int((float(c[0:len(c)-1])/100)*p)} tk cashback.')
# Driver Code
# Subtask 1: Write the CellPackage Class

pkg = CellPackage(150, '6 GB', 99, 20, '7%', 7)
print('===========Package 1=============')
# Subtask 2: Check each attribute and print

pkg2 = CellPackage(700, '35 GB', 700, 0, '10%', 30)
print('===========Package 2=============')
# Subtask 3: Check each attribute and print

pkg4 = CellPackage(120, '0 GB', 190, 0, '0%', 10)
print('============Package 3============')
# Subtask 4: Check each attribute and print

Data = 6  MB
Talktime = 99 Minutes
SMS/MMS = 20
Validity = 7 Days
--> Price = 150 tk
Buy now to get 10 tk cashback.
===========Package 1=============
Data = 35  MB
Talktime = 700 Minutes
SMS/MMS = 0
Validity = 30 Days
--> Price = 700 tk
Buy now to get 70 tk cashback.
===========Package 2=============
Data = 0  MB
Talktime = 190 Minutes
SMS/MMS = 0
Validity = 10 Days
--> Price = 120 tk
============Package 3============

In [ ]:
#task-6
class Human:
    def __init__(self):
        self.age = 0
        self.height = 0.0
h1 = Human()
h2 = Human()
h1.age = 21
h1.height = 5.5
print(h1.age)
print(h1.height)
h2.height = h1.height - 3
print(h2.height)
h2.age = h1.age
h1.age += h1.age
print(h1.age)
h2 = h1
print(h2.age)
print(h2.height)
h1.age += h1.age
h2.height += h2.height
print(h1.age)
print(h1.height)
h2.age += h2.age
h1.age = h2.age
print(h2.age)

21
5.5
2.5
42
42
5.5
84
11.0
168

In [ ]:
# homework
#task-1
import datetime as dt
class Book():
  def __init__(self, n, a, t):
    self.name=n
    self.author=a
    self.year_of_publication=t
    to = dt.date.today()
    y = to.year
    if y-t<=100:
      self.status='Rejected. The book is not antique enough.'
    elif y-t<=200:
      self.status='Accepted. The book is stored on floor: 0.'
    elif y-t<=400:
      self.status='Accepted.The book is stored on floor: 1'
    else:
      self.status='Accepted.The book is stored on floor: 2.'
book1= Book('The Act', 'Ferguson', 1924)
print(f"{book1.author} wrote the book '{book1.name}'.")
print(f"This book was published in {book1.year_of_publication}.")
print(f"This book is {book1.status}")
print("-------------------------------------")
book2= Book('Flame', 'Nolan', 1932)
print(f"{book2.author} wrote the book '{book2.name}'.")
print(f"This book was published in {book2.year_of_publication}.")
print(f"This book is {book2.status}")
print("-------------------------------------")
book3= Book('Norms', 'Alfred', 1832)
print(f"{book3.author} wrote the book '{book3.name}'.")
print(f"This book was published in {book3.year_of_publication}.")
print(f"This book is {book3.status}")
print("-------------------------------------")
book4= Book('Apex', 'Samson', 1923)
print(f"{book4.author} wrote the book '{book4.name}'.")
print(f"This book was published in {book4.year_of_publication}.")
print(f"This book is {book4.status}")
print("-------------------------------------")
book5= Book('Habitat', 'Eden', 1723)
print(f"{book5.author} wrote the book '{book5.name}'.")
print(f"This book was published in {book5.year_of_publication}.")
print(f"This book is {book5.status}")
print("-------------------------------------")
book6= Book('Apocalypto', 'Menez', 1603)
print(f"{book6.author} wrote the book '{book6.name}'.")
print(f"This book was published in {book6.year_of_publication}.")
print(f"This book is {book6.status}")

Ferguson wrote the book 'The Act'.
This book was published in 1924.
This book is Rejected. The book is not antique enough.
-------------------------------------
Nolan wrote the book 'Flame'.
This book was published in 1932.
This book is Rejected. The book is not antique enough.
-------------------------------------
Alfred wrote the book 'Norms'.
This book was published in 1832.
This book is Accepted. The book is stored on floor: 0.
-------------------------------------
Samson wrote the book 'Apex'.
This book was published in 1923.
This book is Accepted. The book is stored on floor: 0.
-------------------------------------
Eden wrote the book 'Habitat'.
This book was published in 1723.
This book is Accepted.The book is stored on floor: 1
-------------------------------------
Menez wrote the book 'Apocalypto'.
This book was published in 1603.
This book is Accepted.The book is stored on floor: 2.

In [ ]:
# task-2
class Pokemon():
  def __init__(self, n1, n2, p1, p2, d ):
    self.pokemon1_name=n1
    self.pokemon2_name=n2
    self.pokemon1_power=p1
    self.pokemon2_power=p2
    self.damage_rate=d


team_pika = Pokemon('pikachu', 'charmander', 90, 60, 10)
print('=======Team 1=======')
print('Pokemon 1:',team_pika.pokemon1_name, team_pika.pokemon1_power)
print('Pokemon 2:',team_pika.pokemon2_name, team_pika.pokemon2_power)
pika_combined_power = (team_pika.pokemon1_power + team_pika.pokemon2_power) * team_pika.damage_rate
print('Combined Power:', pika_combined_power)
##########################################################
team_bulb = Pokemon('bulbasaur', 'squirtle', 80, 70, 9)
print('=======Team 2=======')
print('Pokemon 1:',team_bulb.pokemon1_name, team_bulb.pokemon1_power)
print('Pokemon 2:',team_bulb.pokemon2_name, team_bulb.pokemon2_power)
pika_combined_power = (team_bulb.pokemon1_power + team_bulb.pokemon2_power) * team_bulb.damage_rate
print('Combined Power:', pika_combined_power)

=======Team 1=======
Pokemon 1: pikachu 90
Pokemon 2: charmander 60
Combined Power: 1500
=======Team 2=======
Pokemon 1: bulbasaur 80
Pokemon 2: squirtle 70
Combined Power: 1350

In [ ]:
# task-3
class box():
  def __init__(self, l):
    self.height=l[0]
    self.width=l[1]
    self.breadth=l[2]
print("Box 1")
b1 = box([10,10,10])
print("=========================")
print("Height:", b1.height)
print("Width:", b1.width)
print("Breadth:", b1.breadth)
volume = b1.height * b1.width * b1.breadth
print(f"Volume of the box is {volume} cubic units.")
print("-------------------------")
print("Box 2")
b2 = box((30,10,10))
print("=========================")
print("Height:", b2.height)
print("Width:", b2.width)
print("Breadth:", b2.breadth)
volume = b2.height * b2.width * b2.breadth
print(f"Volume of the box is {volume} cubic units.")
b2.height = 300
print("Updating Box 2!")
print("Height:", b2.height)
print("Width:", b2.width)
print("Breadth:", b2.breadth)
volume = b2.height * b2.width * b2.breadth
print(f"Volume of the box is {volume} cubic units.")
print("-------------------------")
print("Box 3")
b3 = b2
print("Height:", b3.height)
print("Width:", b3.width)
print("Breadth:", b3.breadth)
volume = b3.height * b3.width * b3.breadth
print(f"Volume of the box is {volume} cubic units.")

Box 1
=========================
Height: 10
Width: 10
Breadth: 10
Volume of the box is 1000 cubic units.
-------------------------
Box 2
=========================
Height: 30
Width: 10
Breadth: 10
Volume of the box is 3000 cubic units.
Updating Box 2!
Height: 300
Width: 10
Breadth: 10
Volume of the box is 30000 cubic units.
-------------------------
Box 3
Height: 300
Width: 10
Breadth: 10
Volume of the box is 30000 cubic units.
True True

In [ ]:
# task-4
class Order():
  def __init__(self, m, i):
    l = i.split(', ')
    l1 = []
    for j in l:
      n, q = j.split('-')
      p = m[n] * int(q)
      l1.extend([n, int(q), p])
    self.items=l1



# Write your class code here
menu = {
    'Chicken_Cheeseburger' : 249,
    'Mega_Cheeseburger' : 289,
    'Fries' : 139,
    'Hot_Wings' : 99,
    'Rice_Bowl' : 299,
    'Soft_Drinks' : 50
}
order1 = Order(menu, "Chicken_Cheeseburger-2, Fries-3, Soft_Drinks-3")
print(order1.items)
print()
print('-'*35)
print('Item           x Quantity :   Price')
print('--------------   --------   -------')
index = 0
total = 0
while index < len(order1.items):
  item = order1.items[index]
  quantity = order1.items[index+1]
  price = order1.items[index+2]
  print(f'{item:20} x {quantity:2} : {price:7.2f}')
  total += price
  index += 3 # Going to next item
print('-'*35)
print(f'Total:                      {total:7.2f}')
print('-'*35)

['Chicken_Cheeseburger', 2, 498, 'Fries', 3, 417, 'Soft_Drinks', 3, 150]

-----------------------------------
Item           x Quantity :   Price
--------------   --------   -------
Chicken_Cheeseburger x  2 :  498.00
Fries                x  3 :  417.00
Soft_Drinks          x  3 :  150.00
-----------------------------------
Total:                      1065.00
-----------------------------------

In [ ]:
# task-5
class Student:
    def __init__(self):
        self.name = None
        self.cgpa = 0.0
s1 = Student()
s2 = Student()
s3 = None
s1.name = "Student One"
s1.cgpa = 2.3
s3 = s1
s2.name = "Student Two"
s2.cgpa = s3.cgpa + 1
s3.name = "New Student"
print(s1.name)
print(s2.name)
print(s3.name)
print(s1.cgpa)
print(s2.cgpa)
print(s3.cgpa)
s3 = s2
s1.name = "old student"
s2.name = "older student"
s3.name = "oldest student"
s2.cgpa = s1.cgpa - s3.cgpa + 4.5
print(s1.name)
print(s2.name)
print(s3.name)
print(s1.cgpa)
print(s2.cgpa)
print(s3.cgpa)

New Student
Student Two
New Student
2.3
3.3
2.3
old student
oldest student
oldest student
2.3
3.5
3.5