In [ ]:
#task-1
class Student():
  id=0
  def __init__(self,n,d,a,g):
    self.n=n
    self.d=d
    self.a=a
    self.g=g
    Student.id+=1
    self.id=Student.id
  def showDetails(self):
    print(f'ID: {self.id}')
    print(f'Name: {self.n}')
    print(f'Department: {self.d}')
    print(f'Age: {self.a}')
    print(f'CGPA: {self.g}')
  @classmethod
  def from_String(cls,s):
    n,d,a,g=s.split('-')
    obj=Student(n,d,a,g)
    return obj






s1 = Student("Samin", "CSE", 21, 3.91)
s1.showDetails()
print("-----------------------")
s2 = Student("Fahim", "ECE", 21, 3.85)
s2.showDetails()
print("-----------------------")
s3 = Student("Tahura", "EEE", 22, 3.01)
s3.showDetails()
print("-----------------------")
s4 = Student.from_String("Sumaiya-BBA-23-3.96")
s4.showDetails()

ID: 1
Name: Samin
Department: CSE
Age: 21
CGPA: 3.91
-----------------------
ID: 2
Name: Fahim
Department: ECE
Age: 21
CGPA: 3.85
-----------------------
ID: 3
Name: Tahura
Department: EEE
Age: 22
CGPA: 3.01
-----------------------
ID: 4
Name: Sumaiya
Department: BBA
Age: 23
CGPA: 3.96

In [ ]:
#task-2
class Passenger():
  count=0
  def __init__(self,n):
    self.n=n
    self.w=0
    Passenger.count+=1
  def set_bag_weight(self,w):
    self.w=w
  def printDetail(self):
    print(f'Name: {self.n}')
    if self.w<=20:
      print('Bus Fare: 450 taka')
    elif 20<=self.w<=50:
      print('Bus Fare: 500 taka')
    else:
      print('Bus Fare: 550 taka')


print("Total Passenger:", Passenger.count)
p1 = Passenger("Jack")
p1.set_bag_weight(90)
p2 = Passenger("Carol")
p2.set_bag_weight(10)
p3 = Passenger("Mike")
p3.set_bag_weight(25)
print("=========================")
p1.printDetail()
print("=========================")
p2.printDetail()
print("=========================")
p3.printDetail()
print("=========================")
print("Total Passenger:", Passenger.count)

Total Passenger: 0
=========================
Name: Jack
Bus Fare: 550 taka
=========================
Name: Carol
Bus Fare: 450 taka
=========================
Name: Mike
Bus Fare: 500 taka
=========================
Total Passenger: 3

In [ ]:
#task-3
class Travel():
  count=0
  def __init__(self,s,d):
    self.s=s
    self.d=d
    self.t='1'
    Travel.count+=1
  def display_travel_info(self):
    a=f'Source: {self.s}\n'+f'Destination:{self.d}\n'+f'Flight Time:{self.t}:00'
    return a
  def set_time(self,t):
    self.t= str(t)
  def set_destination(self,d):
    self.d=d
  def set_source(self,s):
    self.s=s





print("No. of Traveller =", Travel.count)
print("=======================")
t1 = Travel("Dhaka","India")
print(t1.display_travel_info())
print("=======================")
t2 = Travel("Kuala Lampur","Dhaka")
t2.set_time(23)
print(t2.display_travel_info())
print("=======================")
t3 = Travel("Dhaka","New_Zealand")
t3.set_time(15)
t3.set_destination("Germany")
print(t3.display_travel_info())
print("=======================")
t4 = Travel("Dhaka","India")
t4.set_time(9)
t4.set_source("Malaysia")
t4.set_destination("Canada")
print(t4.display_travel_info())
print("=======================")
print("No. of Traveller =", Travel.count)

No. of Traveller = 0
=======================
Source: Dhaka
Destination:India
Flight Time:1:00
=======================
Source: Kuala Lampur
Destination:Dhaka
Flight Time:23:00
=======================
Source: Dhaka
Destination:Germany
Flight Time:15:00
=======================
Source: Malaysia
Destination:Canada
Flight Time:9:00
=======================
No. of Traveller = 4

In [ ]:
#task-4
class Student():
  ts=0
  bs=0
  os=0
  def __init__(self,n,d,ins='BRAC University'):
    self.n=n
    self.d=d
    self.ins=ins
    Student.ts+=1
    if self.ins=='BRAC University':
      Student.bs+=1
    else:
      Student.os+=1
  def individualDetail(self):
    print(f'Name: {self.n}')
    print(f'Department: {self.d}')
    print(f'Institution: {self.ins}')
  @classmethod
  def printDetails(cls):
    print(f'Total Student(s): {Student.ts}')
    print(f'BRAC University Student(s): {Student.bs}')
    print(f'Other Institution Student(s): {Student.os}')
  @classmethod
  def createStudent(cls,n,d,ins='BRAC University'):
    obj=Student(n,d,ins)
    return obj

Student.printDetails()
print('#########################')

mikasa = Student('Mikasa Ackerman', "CSE")
mikasa.individualDetail()
print('------------------------------------------')
Student.printDetails()

print('========================')

harry = Student.createStudent('Harry Potter', "Defence Against Dark Arts", "Hogwarts School")
harry.individualDetail()
print('-------------------------------------------')
Student.printDetails()

print('=========================')

levi = Student.createStudent("Levi Ackerman", "CSE")
levi.individualDetail()
print('--------------------------------------------')
Student.printDetails()

Total Student(s): 0
BRAC University Student(s): 0
Other Institution Student(s): 0
#########################
Name: Mikasa Ackerman
Department: CSE
Institution: BRAC University
------------------------------------------
Total Student(s): 1
BRAC University Student(s): 1
Other Institution Student(s): 0
========================
Name: Harry Potter
Department: Defence Against Dark Arts
Institution: Hogwarts School
-------------------------------------------
Total Student(s): 2
BRAC University Student(s): 1
Other Institution Student(s): 1
=========================
Name: Levi Ackerman
Department: CSE
Institution: BRAC University
--------------------------------------------
Total Student(s): 3
BRAC University Student(s): 2
Other Institution Student(s): 1

In [ ]:
#task-5